.App {
  background: linear-gradient(rgba(0, 0, 0,0.6), rgba(0, 0, 0, 0.6)), url('../src/assets/building.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

